body {
    background: #001F3F;
    color: #F8F9FA;
    font-family: "Inter", sans-serif;
}

.Home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70vh;
}

.first-page img {
    border-radius: 24px;
    margin-right: 40px;
    background: #0A9396;
}

.global-description {
    max-width: 480px;
    font-size: 20px;
    line-height: 1.6;
    padding: 50px 25px;
    background: #002B4A;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35);
    color: #F8F9FA;
    border: 1px solid #0A9396;
}

.instructions-container {
    list-style: none;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    background: #001F3F;
}

.each-one-container {
    display: flex;
    justify-content: center;
}

.caption{
    display: flex;
    min-width: 500px;
    font-family: "Times new roman";
    font-size: 50px
}

.custom-button{
    background-color: #0A9396;
    color: white;
    width: 100px;
    height: 50px;
}