.nav-header {
    width: 100%;
    max-width: 1200px;
    height: 60px;
    background: #0a94963a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    border-bottom: 2px solid #0A9396;
    border-radius: 999px;
    padding: 20px 10px;
}

.nav-header img {
    background: #0a9496;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nav-header a {
    text-decoration: none;
    color: #F8F9FA;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 14px;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}